@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap);

$playfair-display: 'Playfair Display', serif;
$montserrat: 'Montserrat', sans-serif;

body {
    background-color: #415B97;
    font-size: x-small;
    font-family: $montserrat;
}

.wrapper {
    display: grid;
    margin: 5% 5%; 
    grid-template-rows: 50px 50px 50px 50px 200px 200px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "a" 
    "b" 
    "c" 
    "d"
    "e"
    "f";
    max-width: 100%;
    
}

div {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    .headline {
        background-color: #A1712E;
        grid-area: a;
        align-items: center;
    }
    .city{
        background-color: rgb(206, 169, 60);
        grid-area: b;
        align-items: center;
        label {
            margin: 0 10px;
        }
    }
    .date{
        background-color: rgb(206, 169, 60);
        grid-area: c;
        align-items: center;
        justify-content: space-evenly;
    }
    .submit {
        background-color: rgb(206, 169, 60);
        grid-area: d;
        align-items: center;
    }
    .result {
        background-color: rgb(206, 169, 60);
        border-top:  #415B97 solid 5px;
        grid-area: e; 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        #entryHolder {
            display: flex;
            flex-direction: column; 
            div {
                margin: 10px 10%;
            }
        }
    }
    .img{
        background-color: #A1712E;
        grid-area: f;
        justify-content: center;
        img{
            position: relative;
            object-fit: fill;
            height: 100%;
            width: auto;
            margin: 0px 10px;
        }

    }
} 

@media(min-width: 600px) and (max-width:900px) {


    body {
        background-color: #415B97;
        font-size: large;
        font-family: $montserrat;
    }
    
    .wrapper {
        display: grid;
        margin: 5% 10%; 
        grid-template-rows: 100px 50px 50px 50px 200px 200px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a" 
        "b" 
        "c" 
        "d"
        "e"
        "f";
        
    }
    
    div {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
        .headline {
            background-color: #A1712E;
            grid-area: a;
            align-items: center;
        }
        .city{
            background-color: rgb(206, 169, 60);
            grid-area: b;
            align-items: center;
            label {
                margin: 0 10px;
            }
        }
        .date{
            background-color: rgb(206, 169, 60);
            grid-area: c;
            align-items: center;
            justify-content: space-evenly;
        }
        .submit {
            background-color: rgb(206, 169, 60);
            grid-area: d;
            align-items: center;
        }
        .result {
            background-color: rgb(206, 169, 60);
            border-top:  #415B97 solid 5px;
            grid-area: e; 
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            #entryHolder {
                display: flex;
                flex-direction: column; 
                div {
                    margin: 10px 10%;
                }
            }
        }
        .img{
            background-color: #A1712E;
            grid-area: f;
            justify-content: center;
            img{
                position: relative;
                object-fit: fill;
                height: 100%;
                width: auto;
                margin: 0px 10px;
            }
    
        }
    } 
}
@media(min-width:901px) {


body {
    background-color: #415B97;
    font-size: large;
    font-family: $montserrat;
}

.wrapper {
    display: grid;
    margin: 5% 10%; 
    grid-template-rows: 100px 50px 50px 50px 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a  e" 
    "b e" 
    "c e" 
    "d e"
    "f f";
    
}

div {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    .headline {
        background-color: #A1712E;
        grid-area: a;
        align-items: center;
    }
    .city{
        background-color: rgb(206, 169, 60);
        grid-area: b;
        align-items: center;
        label {
            margin: 0 10px;
        }
    }
    .date{
        background-color: rgb(206, 169, 60);
        grid-area: c;
        align-items: center;
        justify-content: space-evenly;
    }
    .submit {
        background-color: rgb(206, 169, 60);
        grid-area: d;
        align-items: center;
    }
    .result {
        background-color: rgb(206, 169, 60);
        border-left:  #A1712E solid 10px;
        grid-area: e; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #entryHolder {
            display: flex;
            flex-direction: column;
            margin: 20px 10%; 
        }
    }
    .img{
        background-color: #A1712E;
        grid-area: f;
        justify-content: center;
        img{
            position: relative;
            object-fit: fill;
            height: 100%;
            width: auto;
            margin: 0px 10px;
        }

    }
} 
}
